/vendor/
/node_modules/
.env
.env.*.local
/public/storage
/storage/*.key
/.idea
/.vscode
.phpunit.result.cache
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/framework/views/
/storage/framework/cache/
/bootstrap/cache/*.php
composer.lock
/public/hot
