/vendor/
/node_modules/

.env
.env.*.local

/public/storage
/public/hot

/storage/*.key
/storage/framework/views/
/storage/framework/cache/

/bootstrap/cache/*.php

/.idea
/.vscode

.phpunit.result.cache

Homestead.yaml

npm-debug.log
yarn-error.log

composer.lock

# Documentation
docs/