@import "/vendor/filament/filament/resources/css/theme.css";

.fi-topbar {
    height: 4rem;
}
.fi-topbar > div {
    gap: 0.75rem;
    display: flex;
}
.fi-topbar .fi-topbar-item {
    display: inline-flex;
    align-items: center;
}
.fi-page-header {
    display: none !important;
}
.fi-topbar .fi-global-search {
    max-width: 28rem;
    margin-inline: auto;
}
@media (max-width: 1024px) {
    .fi-topbar .fi-global-search {
        max-width: 16.5rem;
    }
}

.fi-sidebar {
    background-color: #fff;
}
.fi-sidebar .fi-sidebar-item a {
    border-radius: 0.75rem;
}
.fi-sidebar .fi-sidebar-item a:hover {
    background-color: #f1f5f9;
}
@media (max-width: 640px) {
    .fi-sidebar {
        max-width: 18rem;
    }
}

button,
.fi-btn {
    min-height: 2.75rem;
}
